#mouse {
    position:absolute;
    top:10px;
    left:10px;
    background-color: white;
    padding : 5px;
    border-radius: 10px;
    /* background-color: rgba(0, 132, 255, 0.493);
    height: 30px;
    width: 50px; */
}

#connection {
    position : absolute;
    top : calc(30% - 175px);
    left : calc(50% - 200px);
    
    width : 400px;
    height : 350px;
    text-align: center;
    border: solid;
    background-color: white;
}

.week {
    border: solid;
    display: flex;
    margin: 10px 5px ;
}

.day {
    background-color: yellow;
    border: solid 2px;
    padding: 10px;
    margin: 5px 2px;
    font-size: larger;
}

.dayReserve {
    background-color: red;
}

.dayUnv {
    background-color: grey;
}

.hidden {
    font-size: medium;
    display:none;
}

h1 {
    text-align: center;
}

h3 {
    margin: 10px 30px 35px ;
}
